<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @micropost.usuario_id %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @micropost.conteudo %>
</p>

<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
